#thumb1{
	background-image: url('../images/photography/artphotos/thumbnails/thumb1.gif')
}
#thumb2{
	background-image: url('../images/photography/artphotos/thumbnails/thumb2.gif')}
#thumb3{
	background-image: url('../images/photography/artphotos/thumbnails/thumb3.gif')}
#thumb4{
	background-image: url('../images/photography/artphotos/thumbnails/thumb4.gif')}
#thumb5{
	background-image: url('../images/photography/artphotos/thumbnails/thumb5.gif')}
#thumb6{
	background-image: url('../images/photography/artphotos/thumbnails/thumb6.gif')}
#thumb7{
	background-image: url('../images/photography/artphotos/thumbnails/thumb7.gif')}
#thumb8{
	background-image: url('../images/photography/artphotos/thumbnails/thumb8.gif')}

#thumb9{
	background-image: url('../images/photography/artphotos/thumbnails/thumb9.gif')}
#thumb10{
	background-image: url('../images/photography/artphotos/thumbnails/thumb10.gif')}
