
.blocks{
	padding-left:10px;
	padding-right: 10px;
    text-align: center;
    padding-top: 10px;
}

.work-img{
	width:100%;
}

.dim:hover{
	opacity:.4;
}

.work-text{
	position: absolute;
	display:none;
	font-size: 3vw;
	font-weight: bold;
}
#mobile-padding-1{
	height:40px;
}
#mobile-padding-3{
	height:20px;
}

@media (max-width: 500px) {
    .work-text{
    	font-size:8vw;
    } 
    #mobile-padding-1{
		height:0px;
	}
    #mobile-padding-3{
    	height:0px;
    }
    .blocks{
    	padding-left:20px;
    	padding-right:20px;
    }

}
