
.category:hover{
    opacity: .99;
}
.blocks{
    height:18vw;
    overflow: hidden;
/*    background-color: blue;*/

}
.category{
    position:absolute;
    left:0;
    right:0;
    margin:auto;

    /* size*/    
    height:18vw;
   /* spacing*/
    width:94%;
    opacity:.4;
}

.work-text{
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    margin:auto;
    width: 100%;
    display: table;
}

/*artwork page*/
#photography-pic{
    background: url('../images/photography/southwest/9.gif');
    background-position: center; 
    background-size: 380px;
}
#painting-pic{
    background: url('../images/tempest.jpg');
    background-position: center; 
    background-size: 380px;
}
#illustration-pic{
    background: url('../images/illustration/illustration_cover.gif');
    background-position: center; 
    background-size: 380px;
}

/*photography page*/
#iceland-pic{
    background: url('../images/photography/iceland/15.gif');
    background-position: center; 
    background-size: 500px;
}
#israel-pic{
    background: url('../images/photography/israel/13.gif');
    background-position: center; 
    background-size: 400px;
}
#art-pic{
    background: url('../images/photography/artphotos/artphotos_cover.gif');
    background-position: center; 
    background-size: 400px;
}
#south-pic{
    background: url('../images/photography/southwest/21.gif');
    background-position: center; 
    background-size: 400px;
}


#mobile-padding-1{
	height:40px;
}
#mobile-padding-3{
	height:20px;
}

@media (max-width: 500px) {
    .work-text{
    	font-size:7vw;
    } 
    #mobile-padding-1{
		height:0px;
	}
    #mobile-padding-3{
    	height:0px;
    }
    .blocks{
        height:125px;
        margin-left:auto;
        margin-right:auto;
        margin-top: 15px;
    }
    .category{
    	padding-left:20px;
    	padding-right:20px;
        height:125px;
    }
    .row{
    }


}

