.category:hover{
    opacity: .99;
}

.work-img{
	width:100%;
}
.category{
    height:18vw;
    opacity:.4;
}

.work-text{
    font-size: 3vw;
    font-weight: bold;
    position: absolute;
     text-align: center;
}

/*artwork page*/
#photography-pic{
    background: url('../images/photography/southwest/15.gif');
    background-position: center; 
    background-size: 350px;
}
#painting-pic{
    background: url('../images/tempest.jpg');
    background-position: center; 
    background-size: 350px;
}
#illustration-pic{
    background: url('../images/illustration/illustration_cover.gif');
    background-position: center; 
    background-size: 350px;
}

/*photography page*/
#iceland-pic{
    background: url('../images/photography/iceland/15.gif');
    background-position: center; 
    background-size: 500px;
}
#israel-pic{
    background: url('../images/photography/israel/13.gif');
    background-position: center; 
    background-size: 400px;
}
#art-pic{
    background: url('../images/photography/artphotos/artphotos_cover.gif');
    background-position: center; 
    background-size: 400px;
}
#south-pic{
    background: url('../images/photography/southwest/9.gif');
    background-position: center; 
    background-size: 400px;
}


#mobile-padding-1{
	height:40px;
}
#mobile-padding-3{
	height:20px;
}

@media (max-width: 500px) {
    .work-text{
    	font-size:8vw;
    } 
    #mobile-padding-1{
		height:0px;
	}
    #mobile-padding-3{
    	height:0px;
    }
    .blocks{
    	padding-left:20px;
    	padding-right:20px;
    }

}

