/*
text-align centers things inside div
margin: 0 auto centers thing itself*/

body{
	padding-top: 15px;
}
.container-fluid{
    padding-bottom: 30px;
}
.menu{
	text-align: center;
	height: 140px;
}
.signature{
	 width:290px;
}

/*
about work contact vertical*/
ul{

	display: inline;
}
li{
    list-style-type: none;
    display: inline;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	color: black;
	font-size: 15px;
	margin-right: 20px;
}

/*#####################*/

a{
	color: black;
}

a:hover{
	color: #5C5B5B;
	text-decoration: none;
}


.blocks{
	height:300px;
	padding-left:10px;
	padding-right: 10px;
    text-align: center;
}

.work-img{
	width:100%;
}
.dim{
	background-color: white;
	opacity: 1;
}
.dim:hover{
	opacity:.4;
}

.work-text{
	position: absolute;
	display:none;
	font-size: 3vw;
	font-weight: bold;
}
@media (max-width: 620px) {
    .menu_items {
    	display: none;
    }
    .work-text{
    	font-size:8vw;
    } 
    .divider > p{
    	display: none;
    }

}

.divider{
	position: fixed;
	height: 100%;
	width: 50%;

}
.divider > p{
	text-align: right;
	margin-top: 0 auto;
	margin: 5px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.5vw;
}
divider_text{
	
}