/*
text-align centers things inside div
margin: 0 auto centers thing itself*/

body{
	padding-top: 15px;
}

p{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container-fluid{
    padding-bottom: 30px;
}
.menu{
	text-align: center;
	height: 140px;
}
.signature{
	 width:270px;
}

/*
about work contact vertical*/
ul{

	display: inline;
}
li{
    list-style-type: none;
    display: inline;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	color: black;
	font-size: 15px;
	margin-right: 20px;
}

/*#####################*/

a{
	color: black;
}

a:hover{
	color: #5C5B5B;
	text-decoration: none;
}


.blocks{
	height:300px;
	padding-left:10px;
	padding-right: 10px;
    text-align: center;
}

.work-img{
	width:100%;
}
.dim{
	background-color: white;
	opacity: 1;
}
.dim:hover{
	opacity:.4;
}

.work-text{
	position: absolute;
	display:none;
	font-size: 3vw;
	font-weight: bold;
}
@media (max-width: 620px) {
    .menu_items {
    	display: none;
    }
    .work-text{
    	font-size:8vw;
    } 

}
@media (max-width: 870px) {

    #next_text{
    	display:none;
    }
}

.divider{
	position: absolute;
	height:400px;
	width: 24%;
/*	background-color: blue;*/
	text-align: center;
	display: inline;
}
#next_text{
	font-size: 10px;
	top:-300px;
}

.art_description_container{
	width: 100%;
}
.art_description{
	font-style: italic;
	text-align: center;
}

.al_slideshow{
	display: block;
	height:420px;
	margin: auto;
	z-index: -1;
}
.slide{
	display: none;
}
#next_text{
	text-align: center;
	margin-top:200px;
}

.thumb_container{
	margin: auto;
	padding: 5px;
}
.thumb_pic{

	height: 120px;
	background-position: center; 
	background-size: 350px;
}



