.mos_container{
	margin: auto;
	padding: 0px;

}
.mos_pic{
	height: 60px;
	background-position: center; 
	background-size: 200px;
	opacity:.00;
}
.mos_pic:hover{
	opacity:.5;
}

.reveal{
	opacity:.07;
}

@media (max-width: 620px) {
    .mos_pic{
		height: 27px!important;
	}

}
#thumb1{background-image: url('../images/mosaic/illustration/thumb1.jpeg')}
#thumb2{background-image: url('../images/mosaic/illustration/thumb2.jpeg')}
#thumb3{background-image: url('../images/mosaic/illustration/thumb3.jpeg')}
#thumb4{background-image: url('../images/mosaic/illustration/thumb4.jpeg')}
#thumb5{background-image: url('../images/mosaic/illustration/thumb5.jpeg')}
#thumb6{background-image: url('../images/mosaic/illustration/thumb6.jpeg')}
#thumb7{background-image: url('../images/mosaic/illustration/thumb7.jpeg')}
#thumb8{background-image: url('../images/mosaic/illustration/thumb8.jpeg')}
#thumb9{background-image: url('../images/mosaic/illustration/thumb9.jpeg')}
#thumb10{background-image: url('../images/mosaic/illustration/thumb10.jpeg')}
#thumb11{background-image: url('../images/mosaic/illustration/thumb11.jpeg')}
#thumb12{background-image: url('../images/mosaic/illustration/thumb12.jpeg')}
#thumb13{background-image: url('../images/mosaic/illustration/thumb13.jpeg')}
#thumb14{background-image: url('../images/mosaic/illustration/thumb14.jpeg')}
#thumb15{background-image: url('../images/mosaic/illustration/thumb15.jpeg')}
#thumb16{background-image: url('../images/mosaic/illustration/thumb16.jpeg')}
#thumb17{background-image: url('../images/mosaic/illustration/thumb17.jpeg')}
#thumb18{background-image: url('../images/mosaic/illustration/thumb18.jpeg')}
#thumb19{background-image: url('../images/mosaic/illustration/thumb19.jpeg')}
#thumb20{background-image: url('../images/mosaic/illustration/thumb20.jpeg')}
#thumb21{background-image: url('../images/mosaic/illustration/thumb21.jpeg')}
#thumb22{background-image: url('../images/mosaic/illustration/thumb22.jpeg')}
#thumb23{background-image: url('../images/mosaic/illustration/thumb23.jpeg')}
#thumb24{background-image: url('../images/mosaic/illustration/thumb24.jpeg')}
#thumb25{background-image: url('../images/mosaic/illustration/thumb25.jpeg')}
#thumb26{background-image: url('../images/mosaic/illustration/thumb26.jpeg')}
#thumb27{background-image: url('../images/mosaic/illustration/thumb27.jpeg')}
#thumb28{background-image: url('../images/mosaic/illustration/thumb28.jpeg')}
#thumb29{background-image: url('../images/mosaic/illustration/thumb29.jpeg')}
#thumb30{background-image: url('../images/mosaic/illustration/thumb30.jpeg')}
#thumb31{background-image: url('../images/mosaic/illustration/thumb31.jpeg')}
#thumb32{background-image: url('../images/mosaic/illustration/thumb32.jpeg')}
#thumb33{background-image: url('../images/mosaic/illustration/thumb33.jpeg')}
#thumb34{background-image: url('../images/mosaic/illustration/thumb34.jpeg')}
#thumb35{background-image: url('../images/mosaic/illustration/thumb35.jpeg')}
#thumb36{background-image: url('../images/mosaic/illustration/thumb36.jpeg')}


#thumb37{background-image: url('../images/mosaic/painting/thumb1.jpeg')}
#thumb38{background-image: url('../images/mosaic/painting/thumb2.jpeg')}
#thumb39{background-image: url('../images/mosaic/painting/thumb3.jpeg')}
#thumb40{background-image: url('../images/mosaic/painting/thumb4.jpeg')}
#thumb41{background-image: url('../images/mosaic/painting/thumb5.jpeg')}
#thumb42{background-image: url('../images/mosaic/painting/thumb6.jpeg')}
#thumb43{background-image: url('../images/mosaic/painting/thumb7.jpeg')}
#thumb44{background-image: url('../images/mosaic/painting/thumb8.jpeg')}
#thumb45{background-image: url('../images/mosaic/painting/thumb9.jpeg')}
#thumb46{background-image: url('../images/mosaic/painting/thumb10.jpeg')}
#thumb47{background-image: url('../images/mosaic/painting/thumb11.jpeg')}
#thumb48{background-image: url('../images/mosaic/painting/thumb12.jpeg')}
#thumb49{background-image: url('../images/mosaic/painting/thumb13.jpeg')}


#thumb50{background-image: url('../images/mosaic/photography/iceland/thumb1.jpeg')}
#thumb51{background-image: url('../images/mosaic/photography/iceland/thumb2.jpeg')}
#thumb52{background-image: url('../images/mosaic/photography/iceland/thumb3.jpeg')}
#thumb53{background-image: url('../images/mosaic/photography/iceland/thumb4.jpeg')}
#thumb54{background-image: url('../images/mosaic/photography/iceland/thumb5.jpeg')}
#thumb55{background-image: url('../images/mosaic/photography/iceland/thumb6.jpeg')}
#thumb56{background-image: url('../images/mosaic/photography/iceland/thumb7.jpeg')}
#thumb57{background-image: url('../images/mosaic/photography/iceland/thumb8.jpeg')}
#thumb58{background-image: url('../images/mosaic/photography/iceland/thumb9.jpeg')}
#thumb59{background-image: url('../images/mosaic/photography/iceland/thumb10.jpeg')}
#thumb60{background-image: url('../images/mosaic/photography/iceland/thumb11.jpeg')}
#thumb61{background-image: url('../images/mosaic/photography/iceland/thumb12.jpeg')}
/*#thumb{background-image: url('../images/mosaic/photography/iceland/thumb13.jpeg')}
#thumb{background-image: url('../images/mosaic/photography/iceland/thumb14.jpeg')}
#thumb{background-image: url('../images/mosaic/photography/iceland/thumb15.jpeg')}
#thumb{background-image: url('../images/mosaic/photography/iceland/thumb16.jpeg')}
#thumb{background-image: url('../images/mosaic/photography/iceland/thumb17.jpeg')}
#thumb{background-image: url('../images/mosaic/photography/iceland/thumb18.jpeg')}
#thumb{background-image: url('../images/mosaic/photography/iceland/thumb19.jpeg')}
#thumb{background-image: url('../images/mosaic/photography/iceland/thumb20.jpeg')}
#thumb{background-image: url('../images/mosaic/photography/iceland/thumb21.jpeg')}
#thumb{background-image: url('../images/mosaic/photography/iceland/thumb22.jpeg')}
#thumb{background-image: url('../images/mosaic/photography/iceland/thumb23.jpeg')}*/

#thumb62{background-image: url('../images/mosaic/photography/southwest/thumb1.jpeg')}
#thumb63{background-image: url('../images/mosaic/photography/southwest/thumb2.jpeg')}
#thumb64{background-image: url('../images/mosaic/photography/southwest/thumb23.jpeg')}
#thumb65{background-image: url('../images/mosaic/photography/southwest/thumb24.jpeg')}
#thumb66{background-image: url('../images/mosaic/photography/southwest/thumb5.jpeg')}
#thumb67{background-image: url('../images/mosaic/photography/southwest/thumb6.jpeg')}
#thumb68{background-image: url('../images/mosaic/photography/southwest/thumb7.jpeg')}
#thumb69{background-image: url('../images/mosaic/photography/southwest/thumb8.jpeg')}
#thumb70{background-image: url('../images/mosaic/photography/southwest/thumb9.jpeg')}
#thumb71{background-image: url('../images/mosaic/photography/southwest/thumb10.jpeg')}
#thumb72{background-image: url('../images/mosaic/photography/southwest/thumb11.jpeg')}
#thumb73{background-image: url('../images/mosaic/photography/southwest/thumb12.jpeg')}
#thumb74{background-image: url('../images/mosaic/photography/southwest/thumb13.jpeg')}
#thumb75{background-image: url('../images/mosaic/photography/southwest/thumb14.jpeg')}
#thumb76{background-image: url('../images/mosaic/photography/southwest/thumb15.jpeg')}
#thumb77{background-image: url('../images/mosaic/photography/southwest/thumb16.jpeg')}
#thumb78{background-image: url('../images/mosaic/photography/southwest/thumb17.jpeg')}
/*#thumb{background-image: url('../images/mosaic/photography/southwest/thumb18.jpeg')}
#thumb{background-image: url('../images/mosaic/photography/southwest/thumb19.jpeg')}
#thumb{background-image: url('../images/mosaic/photography/southwest/thumb20.jpeg')}
#thumb{background-image: url('../images/mosaic/photography/southwest/thumb21.jpeg')}
#thumb{background-image: url('../images/mosaic/photography/southwest/thumb22.jpeg')}
#thumb{background-image: url('../images/mosaic/photography/southwest/thumb23.jpeg')}
#thumb{background-image: url('../images/mosaic/photography/southwest/thumb24.jpeg')}
#thumb{background-image: url('../images/mosaic/photography/southwest/thumb25.jpeg')}
#thumb{background-image: url('../images/mosaic/photography/southwest/thumb26.jpeg')}*/

#thumb79{background-image: url('../images/mosaic/photography/artphotos/thumb2.jpeg')}
#thumb80{background-image: url('../images/mosaic/photography/artphotos/thumb3.jpeg')}
#thumb81{background-image: url('../images/mosaic/photography/artphotos/thumb4.jpeg')}
#thumb82{background-image: url('../images/mosaic/photography/artphotos/thumb5.jpeg')}
#thumb83{background-image: url('../images/mosaic/photography/artphotos/thumb6.jpeg')}
#thumb84{background-image: url('../images/mosaic/photography/artphotos/thumb7.jpeg')}
#thumb85{background-image: url('../images/mosaic/photography/artphotos/thumb8.jpeg')}
#thumb86{background-image: url('../images/mosaic/photography/artphotos/thumb9.jpeg')}
#thumb87{background-image: url('../images/mosaic/photography/israel/thumb18.jpeg')}

#thumb88{background-image: url('../images/mosaic/photography/israel/thumb1.jpeg')}
#thumb89{background-image: url('../images/mosaic/photography/israel/thumb2.jpeg')}
#thumb90{background-image: url('../images/mosaic/photography/israel/thumb3.jpeg')}
#thumb91{background-image: url('../images/mosaic/photography/israel/thumb4.jpeg')}
#thumb92{background-image: url('../images/mosaic/photography/israel/thumb5.jpeg')}
#thumb93{background-image: url('../images/mosaic/photography/israel/thumb6.jpeg')}
#thumb94{background-image: url('../images/mosaic/photography/israel/thumb7.jpeg')}
#thumb95{background-image: url('../images/mosaic/photography/israel/thumb8.jpeg')}
#thumb96{background-image: url('../images/mosaic/photography/israel/thumb9.jpeg')}
#thumb97{background-image: url('../images/mosaic/photography/israel/thumb10.jpeg')}
#thumb98{background-image: url('../images/mosaic/photography/israel/thumb11.jpeg')}
#thumb99{background-image: url('../images/mosaic/photography/israel/thumb12.jpeg')}
#thumb100{background-image: url('../images/mosaic/photography/israel/thumb13.jpeg')}
#thumb101{background-image: url('../images/mosaic/photography/israel/thumb14.jpeg')}
#thumb102{background-image: url('../images/mosaic/photography/israel/thumb15.jpeg')}
#thumb103{background-image: url('../images/mosaic/photography/israel/thumb16.jpeg')}
/*#thumb{background-image: url('../images/mosaic/photography/israel/thumb17.jpeg')}
#thumb{background-image: url('../images/mosaic/photography/israel/thumb18.jpeg')}
#thumb{background-image: url('../images/mosaic/photography/israel/thumb19.jpeg')}
#thumb{background-image: url('../images/mosaic/photography/israel/thumb20.jpeg')}
#thumb{background-image: url('../images/mosaic/photography/israel/thumb21.jpeg')}
#thumb{background-image: url('../images/mosaic/photography/israel/thumb22.jpeg')}
#thumb{background-image: url('../images/mosaic/photography/israel/thumb23.jpeg')}*/


