#thumb1{
	background-image: url('../images/painting/thumbnails/thumb1.jpeg')
}
#thumb2{
	background-image: url('../images/painting/thumbnails/thumb2.jpeg')}
#thumb3{
	background-image: url('../images/painting/thumbnails/thumb3.jpeg')}
#thumb4{
	background-image: url('../images/painting/thumbnails/thumb4.jpeg')}
#thumb5{
	background-image: url('../images/painting/thumbnails/thumb5.jpeg')}
#thumb6{
	background-image: url('../images/painting/thumbnails/thumb6.jpeg')}
#thumb7{
	background-image: url('../images/painting/thumbnails/thumb7.jpeg')}
#thumb8{
	background-image: url('../images/painting/thumbnails/thumb8.jpeg')}

#thumb9{
	background-image: url('../images/painting/thumbnails/thumb9.jpeg')}
#thumb10{
	background-image: url('../images/painting/thumbnails/thumb10.jpeg')}
#thumb11{
	background-image: url('../images/painting/thumbnails/thumb11.jpeg')}
#thumb12{
	background-image: url('../images/painting/thumbnails/thumb12.jpeg')}

#thumb13{
	background-image: url('../images/painting/thumbnails/thumb13.jpeg')}
#thumb14{
	background-image: url('../images/painting/thumbnails/thumb14.jpeg')}
#thumb15{
	background-image: url('../images/painting/thumbnails/thumb15.jpeg')}
#thumb16{
	background-image: url('../images/painting/thumbnails/thumb16.jpeg')}
#thumb17{
	background-image: url('../images/painting/thumbnails/thumb16.jpeg')}