<!DOCTYPE html>
<html>

  <head>
    <title>Annelisa Leinbach</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../../css/home.css"rel="stylesheet" media="screen">
    <link href="../../css/slideshow.css"rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="../../favicon.ico"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
    </script>
    <script src="../../js/slideshow.js"></script>

    <meta name="page" content="illustration">

  </head>

  <body>

  <div class="menu">
      <a href="../../index.html">
          <img class="signature"src="../../images/signature.png">
      </a>
      <ul class="menu_items">
        <li><a href="../about.html">ABOUT</a></li>
        <li><a href="../artwork.html">ARTWORK</a></li>
        <li><a href="../contact.html">CONTACT</a></li>
        <li class='back'><a href="illustration_thumbnail.html">BACK</a></li>
      </ul>
  </div>

<!--       navigator bars  -->
<a id="back"><img class="arrow-left"src="../../images/arrow2.png" ></a>
 <a id="next"><img class="arrow-right"  src="../../images/arrow1.png" > </a> 
  

<!--     slideshow container -->
    <a id="1" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/1.jpeg">
      <p class="art_description">Prickly pear cactus<br>2011, pen and watercolor on paper, 5 by 8 inches</p>
    </a>

    <a id="2" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/2.jpeg"> 
      <p class="art_description">Saguaro<br>2011, pen and watercolor on paper, 5 by 8 inches</p>
    </a>

    <a id="3" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/3.jpeg"> 
      <p class="art_description">Cairn<br>2011, pen and watercolor on paper, 5 by 8 inches</p>
    </a>
    
    <a id="4" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/4.jpeg"> 
      <p class="art_description">Hopi Point<br>2012, pen and watercolor on paper, 5 by 8 inches</p>
    </a>

    <a id="5" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/5.jpeg"> 
      <p class="art_description">Barnhardt Canyon<br>2013, pen and watercolor on paper, 5 by 8 inches</p>
    </a>
    <a id="6" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/6.jpeg"> 
      <p class="art_description">Tree of birds, published in the Yale Daily News<br>2012, pen and watercolor on paper, 5 by 8 inches</p>
    </a>
    <a id="7" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/7.jpeg"> 
      <p class="art_description">Albino robin, drawn from the archives of the Peabody Museum ornithology collection<br>2012, pen and watercolor on paper, 5 by 8 inches</p>
    </a>
    <a id="8" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/8.jpeg"> 
      <p class="art_description">Outside Commons, Yale University<br>2012, pen and watercolor on paper, 5 by 8 inches</p>    
    </a>
    <a id="9" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/9.jpeg"> 
      <p class="art_description">Madeleine<br>2014, pen and watercolor on paper, 5 by 8 inches</p> 
    </a>
    <a id="10" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/10.jpeg">
      <p class="art_description">Katie<br>2014, pen and watercolor on paper, 5 by 8 inches</p> 
    </a>
    <a id="11" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/11.jpeg"> 
      <p class="art_description">Colors for Sale<br>2011, pen and watercolor on paper, 5 by 8 inches</p> 
    </a>
    <a id="12" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/12.jpeg"> 
      <p class="art_description">Goldfish<br>2011, pen and watercolor on paper, 5 by 8 inches</p> 
    </a>
    <a id="13" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/13.jpeg"> 
      <p class="art_description">Fox and Mouse<br>2011, pen and watercolor on paper, 5 by 8 inches</p> 
    </a>
    <a id="14" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/14.jpeg"> 
      <p class="art_description"> East Rock, New Haven<br>2014, pen and watercolor on paper, 5 by 8 inches</p> 
    </a>  
    <a id="15" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/15.jpeg"> 
      <p class="art_description">Falafel and fruit juice stand in Nazareth, Israel<br>2014, pen and watercolor on paper, 8 by 12 inches</p> 
    </a>  
    <a id="16" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/16.jpeg"> 
      <p class="art_description">People singing prayers to each other over the divider between the men's and women's section of the Western Wall, Jerusalem, Israel<br>2014, pen and watercolor on paper, 5 by 8 inches</p> 
    </a>  
    <a id="17" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/17.jpeg"> 
      <p class="art_description">Israel-Palestine<br>2011, pen and watercolor on paper, 5 by 8 inches</p> 
    </a>  
    <a id="18" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/18.jpeg"> 
      <p class="art_description">Costinesti, Romania<br>2014, pen and watercolor on paper, 8 by 12 inches</p> 
    </a>  
    <a id="19" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/19.jpeg"> 
      <p class="art_description">Composite<br>2009, pen and Prismacolor marker on paper, 16 by 20 inches</p> 
    </a>  
    <a id="20" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/20.jpeg"> 
      <p class="art_description">Time to Spare<br>2009, pen and Prismacolor marker on paper, 16 by 20 inches</p> 
    </a>  
    <a id="21" class= "slide">

      <img class ="al_slideshow" src="../../images/illustration/21.jpeg"> 
      <p class="art_description">Home<br>2014, published in the Yale Daily News, pen and ink on paper, 8 by 12 inches</p> 
    </a>  
    <a id="22" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/22.jpeg"> 
      <p class="art_description">Message in a Bottle<br>2013, published in the Yale Daily News, pen and ink on paper, 5 by 8 inches</p> 
    </a>  
    <a id="23" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/23.jpeg"> 
      <p class="art_description">Old Campus, Yale University<br>2014, mixed media on paper, 18 by 20 inches</p> 
    </a>  
    <a id="24" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/24.jpeg"> 
      <p class="art_description">Revenge<br>2009, pen and Prismacolor marker on paper, 16 by 20 inches</p> 
    </a>  
    <a id="25" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/25.jpeg"> 
      <p class="art_description">The Procession<br>2009, pen and Prismacolor marker on paper, 16 by 20 inches</p> 
    </a>  
    <a id="26" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/26.jpeg"> 
      <p class="art_description">Dreams<br>2009, pen and Prismacolor marker on paper, 16 by 20 inches</p> 
    </a>  
    <a id="27" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/27.jpeg"> 
      <p class="art_description">Sandman<br>2009, pen and Prismacolor marker on paper, 16 by 20 inches</p> 
    </a>  
    <a id="28" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/28.jpeg"> 
      <p class="art_description">Chambers<br>2009, Prismacolor on paper, 16 by 20 inches</p> 
    </a>  
    <a id="29" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/29.jpeg"> 
      <p class="art_description">Reflections<br>2009, Prismacolor on paper, 16 by 20 inches</p> 
    </a>  
    <a id="30" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/30.jpeg"> 
      <p class="art_description">Illustration for an article about weed smoking culture at Yale<br>2014, published in the Yale Daily News, ink and watercolor on paper,
        16 by 18 inches</p> 
    </a>  
    <a id="31" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/31.jpeg"> 
      <p class="art_description">Cover for the Yale Record culinary issue<br> 2014, published in the Yale Record, ink and watercolor on paper, 16 by 20 inches</p> 
    </a>  
    <a id="32" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/32.jpeg"> 
      <p class="art_description">The Problem Child<br>2014, published as the cover for the Yale Daily News WEEKEND issue about LSD usage on campus, mixed media on paper, 20 by 28 inches</p> 
    </a>  
    <a id="33" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/33.jpeg"> 
      <p class="art_description">Detail of The Problem Child<br>2014</p> 
    </a>  
    <a id="34" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/34.jpeg"> 
      <p class="art_description">Geisha, after Japanese ukiyo-e prints<br>2011, pen, ink, watercolor and gold leaf on paper, 16 by 20 inches</p> 
    </a> 
    <a id="35" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/35.jpeg"> 
      <p class="art_description">Detail of Geisha<br>2011</p>
    </a> 
    <a id="36" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/36.jpeg"> 
      <p class="art_description">Leaves, East Rock, New Haven<br>2014, pen and ink on paper, 5 by 8 inches</p> 
    </a>  
    <a id="37" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/37.jpeg"> 
      <p class="art_description">East Rock<br>New Haven 2014, pen on paper, 5 by 8 inches</p> 
    </a>  
    <a id="38" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/38.jpeg"> 
      <p class="art_description">East Rock<br>New Haven 2014, pen on paper, 5 by 8 inches</p> 
    </a>  
    <a id="39" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/39.jpeg"> 
      <p class="art_description">East Rock<br>New Haven 2014, pen on paper, 5 by 8 inches</p> 
    </a>  
    <a id="40" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/40.jpeg"> 
      <p class="art_description">Robot Master<br>2012, published in the Yale Daily News, pen and ink on paper, 5 by 8 inches</p> 
    </a>  
    <a id="41" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/41.jpeg"> 
      <p class="art_description">Album cover for "Tell Me a Tale" by AJ Odneal (available on iTunes)<br>2014, pen and ink on paper, 6.25 by 6.25 inches when printed on album for sale</p> 
    </a>  
    <a id="42" class= "slide">
      <img class ="al_slideshow" src="../../images/illustration/42.jpeg"> 
      <p class="art_description">Album cover for "Machinery of Night" by Newspeak<br>2014, mixed media on paper and then scanned and digitally edited</p> 
    </a>  


  </body>

</html>
