<!DOCTYPE html>
<html>

  <head>
    <title>Annelisa Leinbach</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../css/home.css"rel="stylesheet" media="screen">

  </head>

  <body>

  <nav class="navbar navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="../index.html">
        <img class="signature"src="../images/signature2.jpg">
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="about.html">ABOUT</a></li>
        <li><a href="work.html">WORK</a></li>
        <li><a>CONTACT</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div>
  </nav>
  
<div style="height:50px"></div>
    <div class="container-fluid">
      <div class="container">

    <div class="col-sm-offset-3 col-sm-6"><p>She walks in beauty, like the night
   Of cloudless climes and starry skies;
And all thats best of dark and bright
   Meet in her aspect and her eyes;
Thus mellowed to that tender light
   Which heaven to gaudy day denies.

One shade the more, one ray the less,
   Had half impaired the nameless grace
Which waves in every raven tress,
   Or softly lightens oer her face;
Where thoughts serenely sweet express,
   How pure, how dear their dwelling-place.</p></div>

    </div>
    </div>
  </body>

</html>