
<!DOCTYPE html>
<html>

  <head>
    <title>Annelisa Leinbach</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../css/home.css"rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="../favicon.ico"/>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>

  </head>
<script>
console.log(document.cookie);
</script>
  <body>

  <div class="menu">
      <a href="../index.html">
          <img class="signature"src="../images/signature.png">
      </a>
      <ul class="menu_items">
        <li><a href="about.html">ABOUT</a></li>
        <li><a href="artwork.html">ARTWORK</a></li>
        <li><a href="contact.html">CONTACT</a></li>
      </ul>
  </div>

    <div style="height:20px"></div>
    <div class="col-sm-offset-3 col-sm-6">
      <p>My name is Annelisa, and I am currently studying in the undergraduate program at Yale University. I focus on painting, drawing, photography, and graphic design. I am especially interested in using art to communicate messages and help educate others, especially in relation to some of my other main interests: law and politics, travel, the other areas of the arts and humanities, and environmental science. I am especially passionate about illustration, photojournalism, and various forms of visual documentaries. From serving as the illustrations and comics editor for the Yale Daily News to helping found the Yale Photography Society to designing album covers, photographing for events, and submitting artwork and photos to various publications both on campus and outside it, I hope to help connect people through the power of visual media. I love collaborative projects, so please contact me if you have any questions or comments, or are interested in commissions or working together!</p>
    </div>

  </body>

</html>