<!DOCTYPE html>
<html>

  <head>
    <title>Annelisa Leinbach</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../css/home.css"rel="stylesheet" media="screen">
    <link href="../css/categories.css"rel="stylesheet" media="screen">
    <link rel="icon" href="../favicon.ico">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    
    <script>
      $(window).load(function(){

        // hover show text
        $(document).on('mouseover',function(e) {
          var id_pic = $(e.target).attr('id');
          var class_pic  = $(e.target).attr('class');
          console.log(class_pic);
          if (class_pic=="work-img"){
            if (id_pic=="photography"){
              $("#photography-text").show();
              $("#illustration-text").hide();
              $("#painting-text").hide();
            }
            if (id_pic=="painting"){
              $("#painting-text").show();
              $("#photography-text").hide();
              $("#illustration-text").hide();

            }
            if (id_pic=="illustration"){
              $("#illustration-text").show();
              $("#photography-text").hide();
              $("#painting-text").hide();
            }
          }
          else{
            $("#photography-text").hide();
            $("#illustration-text").hide();
            $("#painting-text").hide();
          }
        });

        //size text 
        height = $(".work-img").height()/2.8;
        height_painting = $(".work-img").height()/5.3;
        width = $(".work-img").width();

        $(".work-text").css('margin-top', height+'px')
        $("#painting-text").css('margin-top', height_painting+'px')
        $(".work-text").css('width', width+'px')

        // size text on resize
        $(window).resize(function(){
          height = $(".work-img").height()/2.8;
        $(".work-text").css('margin-top', height+'px')
        });
        $(window).resize(function(){
          height_painting = $(".work-img").height()/5.3;
          $("#painting-text").css('margin-top', height_painting+'px')
        });
        //size width text-align:center works!
        $(window).resize(function(){
          width = $(".work-img").width();
          $(".work-text").css('width', width+'px')
        });

      });
    </script>

  </head>

  <body >

  <div class="menu">
      <a href="../index.html">
          <img class="signature"src="../images/signature.png">
      </a>
      <ul class="menu_items">
        <li><a href="about.html">ABOUT</a></li>
        <li><a href="artwork.html">ARTWORK</a></li>
        <li><a href="contact.html">CONTACT</a></li>
      </ul>
  </div>

    <div class="container">

      <div style="height:80px"></div>


            <div class="col-sm-4 blocks">
                <p id="photography-text" class="work-text" >PHOTOGRAPHY</p>
              <a href="photography/photography_categories.html">
              <div  id="photography-pic" class="dim">
                <img src="../images/photography/southwest/15.gif" id="photography" class="work-img" >
              </div>
              </a>

            </div>

            <div class="col-sm-4 blocks">     
                <p id="painting-text" class="work-text">PAINTING<br> AND <br>DRAWING</p>
              <a href="painting/painting_thumbnail.html">
              <div id="painting-pic" class="dim">
                <img src="../images/tempest.jpg" id="painting"class="work-img">
              </div>
              </a>
            </div>

            <div class="col-sm-4 blocks">
                <p id="illustration-text" class="work-text"> ILLUSTRATION</p>
                <a href="illustration/illustration_thumbnail.html">
                <div id="illustration-pic" class="dim">
                  <img src="../images/illustration/illustration_cover.gif" id ="illustration"class="work-img">
                </div>
              </a>
            </div>

   
      

    </div>

  </body>

</html>