<!DOCTYPE html>
<html>

  <head>
    <title>Annelisa Leinbach</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../css/home.css"rel="stylesheet" media="screen">
    <link href="../css/categories.css"rel="stylesheet" media="screen">
    <link rel="icon" href="../favicon.ico">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../js/hover.js"></script>

    
    

  </head>

  <body >

  <div class="menu">
      <a href="../index.html">
          <img class="signature"src="../images/signature.png">
      </a>
      <ul class="menu_items">
        <li><a href="about.html">ABOUT</a></li>
        <li><a href="artwork.html">ARTWORK</a></li>
        <li><a href="contact.html">CONTACT</a></li>
      </ul>
  </div>

    <div class="container">
      <div id="mobile-padding-1"></div>

<!--         keep <p> and <div img> seperate for transparency effect
 -->    <div class="col-sm-4 ">
          <p id="photography-text" class="work-text">PHOTOGRAPHY</p>
          <a href="photography/photography_categories.html">
          <div  id="photography-pic" class="category">
          </div>
          </a>
        </div>

        <div class="col-sm-4">     
            <p id="painting-text" class="work-text">PAINTING<br> AND <br>DRAWING</p>
          <a href="painting/painting_thumbnail.html">
          <div id="painting-pic" class="category">
          </div>
          </a>
        </div>

        <div class="col-sm-4">
            <p id="illustration-text" class="work-text">ILLUSTRATION</p>
            <a href="illustration/illustration_thumbnail.html">
            <div id="illustration-pic" class="category">
            </div>
          </a>
        </div>
    </div>

  </body>

</html>