<!DOCTYPE html>
<html>

  <head>
    <title>Annelisa Leinbach</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../../css/home.css"rel="stylesheet" media="screen">
    <link href="../../css/slideshow.css"rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="../../favicon.ico"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../js/slideshow.js"></script>

  </head>

  <body>

  <div class="menu">
      <a href="../../index.html">
          <img class="signature"src="../../images/signature.png">
      </a>
      <ul class="menu_items">
        <li><a href="../about.html">ABOUT</a></li>
        <li><a href="../artwork.html">ARTWORK</a></li>
        <li><a href="../contact.html">CONTACT</a></li>
      </ul>
  </div>

<!--       navigator bars  -->
<a id="back"><img class="arrow-left"src="../../images/arrow2.png"></a>
<a id="next"><img class="arrow-right"  src="../../images/arrow1.png"> </a> 
  

<!--     slideshow container -->
    <a id="1" class= "slide"><img class ="al_slideshow" src="../../images/painting/1.gif"> </a>
    <a id="2" class= "slide"><img class ="al_slideshow" src="../../images/painting/2.gif"> </a>
    <a id="3" class= "slide"><img class ="al_slideshow" src="../../images/painting/3.gif"> </a>
    <a id="4" class= "slide"><img class ="al_slideshow" src="../../images/painting/4.gif"> </a>
    <a id="5" class= "slide"><img class ="al_slideshow" src="../../images/painting/5.gif"> </a>
    <a id="6" class= "slide"><img class ="al_slideshow" src="../../images/painting/6.gif"> </a>
    <a id="7" class= "slide"><img class ="al_slideshow" src="../../images/painting/7.gif"> </a>
    <a id="8" class= "slide"><img class ="al_slideshow" src="../../images/painting/8.gif"> </a>
    <a id="9" class= "slide"><img class ="al_slideshow" src="../../images/painting/9.gif"> </a>
    <a id="10" class= "slide"><img class ="al_slideshow" src="../../images/painting/10.gif"> </a>
    <a id="11" class= "slide"><img class ="al_slideshow" src="../../images/painting/11.gif"> </a>
    <a id="12" class= "slide"><img class ="al_slideshow" src="../../images/painting/12.gif"> </a>
    <a id="13" class= "slide"><img class ="al_slideshow" src="../../images/painting/13.gif"> </a>
    <a id="14" class= "slide"><img class ="al_slideshow" src="../../images/painting/14.gif"> </a>




  </body>

</html>
