<!DOCTYPE html>
<html>

  <head>
    <title>Annelisa Leinbach</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../../css/home.css"rel="stylesheet" media="screen">
    <link href="../../css/slideshow.css"rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="../../favicon.ico"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
    </script>
    <script src="../../js/slideshow.js"></script>
    <meta name="page" content="artphotos">

  </head>

  <body>

  <div class="menu">
      <a href="../../index.html">
          <img class="signature"src="../../images/signature.png">
      </a>
      <ul class="menu_items">
        <li><a href="../about.html">ABOUT</a></li>
        <li><a href="../artwork.html">ARTWORK</a></li>
        <li><a href="../contact.html">CONTACT</a></li>
      </ul>
  </div>

<!--       navigator bars  -->
<a id="back"><img class="arrow-left"src="../../images/arrow2.png" ></a>
 <a id="next"><img class="arrow-right"  src="../../images/arrow1.png" > </a> 


<!--     slideshow container -->
    <a id="1" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/artphotos/1.jpeg"> 
      <p class="art_description">Ballineras on Break, New Haven, CT<br>2013, 35mm black and white film </p>
    </a>
    <a id="2" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/artphotos/2.jpeg"> 
      <p class="art_description">Lighthouse Park, CT<br>2013, 35mm black and white film </p>
    </a>
    <a id="3" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/artphotos/3.jpeg">
      <p class="art_description">New Haven, CT<br>2013, 35mm black and white film </p> 
    </a>
    <a id="4" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/artphotos/4.jpeg"> 
      <p class="art_description">Sterling Library, New Haven, CT<br>2013, 35mm black and white film </p>
    </a>
    <a id="5" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/artphotos/5.jpeg"> 
      <p class="art_description">Sterling Library, New Haven, CT<br>2013, 35mm black and white film </p>
    </a>
    <a id="6" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/artphotos/6.jpeg"> 
      <p class="art_description">New York City<br>2013, 35mm black and white film </p>
    </a>
    <a id="7" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/artphotos/7.jpeg"> 
      <p class="art_description">Wallingford, CT<br>2013, 35mm black and white film </p>
      </a>
    <a id="8" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/artphotos/8.jpeg"> 
      <p class="art_description">Cape Cod, Massachusetts<br>2013, 35mm black and white film </p>
    </a>
    <a id="9" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/artphotos/9.jpeg"> 
      <p class="art_description">New Haven, CT<br>2014, Canon EOS Rebel XS</p>
    </a>
    <a id="10" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/artphotos/10.jpeg"> 
      <p class="art_description">Þingvellir, Iceland<br>2014, Canon EOS Rebel XS</p>
    </a>





  </body>

</html>
