<!DOCTYPE html>
<html>

  <head>
    <title>Annelisa Leinbach</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../../css/home.css"rel="stylesheet" media="screen">
    <link href="../../css/iceland.css"rel="stylesheet" media="screen">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
    </script>

  </head>

  <body>

  <div class="menu">
      <a href="../../index.html">
          <img class="signature"src="../../images/signature.png">
      </a>
      <ul class="menu_items">
        <li><a href="../about.html">ABOUT</a></li>
        <li><a href="../artwork.html">ARTWORK</a></li>
        <li><a href="../contact.html">CONTACT</a></li>
      </ul>
  </div>

  <div class="container">

        <div class = "row" >
            <div class="thumb_container col-xs-3"><a href="iceland.html#1"><div class = "thumb_pic" id="thumb1"></div></a></div>
            <div class="thumb_container col-xs-3"><a href="iceland.html#2"><div class = "thumb_pic" id="thumb2"></div></div>
            <div class="thumb_container col-xs-3"><a href="iceland.html#3"><div class = "thumb_pic" id="thumb3"></div></div>
            <div class="thumb_container col-xs-3"><a href="iceland.html#4"><div class = "thumb_pic" id="thumb4"></div></div>
        </div>
        <div class = "row" >
          <div class="thumb_container col-xs-3"><a href="iceland.html#5"><div class = "thumb_pic" id="thumb5"></div></div>
          <div class="thumb_container col-xs-3"><a href="iceland.html#6"><div class = "thumb_pic" id="thumb6"></div></div>
          <div class="thumb_container col-xs-3"><a href="iceland.html#7"><div class = "thumb_pic" id="thumb7"></div></div>
          <div class="thumb_container col-xs-3"><a href="iceland.html#8"><div class = "thumb_pic" id="thumb8"></div></div>
        </div>
        <div class = "row" >
          <div class="thumb_container col-xs-3"><a href="iceland.html#9"><div class = "thumb_pic" id="thumb9"></div></div>
          <div class="thumb_container col-xs-3"><a href="iceland.html#10"><div class = "thumb_pic" id="thumb10"></div></div>
          <div class="thumb_container col-xs-3"><a href="iceland.html#11"><div class = "thumb_pic" id="thumb11"></div></div>
          <div class="thumb_container col-xs-3"><a href="iceland.html#12"><div class = "thumb_pic" id="thumb12"></div></div>
        </div>
        <div class = "row" >
          <div class="thumb_container col-xs-3"><a href="iceland.html#13"><div class = "thumb_pic" id="thumb13"></div></div>
          <div class="thumb_container col-xs-3"><a href="iceland.html#14"><div class = "thumb_pic" id="thumb14"></div></div>
          <div class="thumb_container col-xs-3"><a href="iceland.html#15"><div class = "thumb_pic" id="thumb15"></div></div>
          <div class="thumb_container col-xs-3"><a href="iceland.html#16"><div class = "thumb_pic" id="thumb16"></div></div>
        </div>
        <div class = "row" >
          <div class="thumb_container col-xs-3"><a href="iceland.html#17"><div class = "thumb_pic" id="thumb17"></div></div>
          <div class="thumb_container col-xs-3"><a href="iceland.html#18"><div class = "thumb_pic" id="thumb18"></div></div>
          <div class="thumb_container col-xs-3"><a href="iceland.html#19"><div class = "thumb_pic" id="thumb19"></div></div>
          <div class="thumb_container col-xs-3"><a href="iceland.html#20"><div class = "thumb_pic" id="thumb20"></div></div>
        </div>
        <div class = "row" >
          <div class="thumb_container col-xs-3"><a href="iceland.html#21"><div class = "thumb_pic" id="thumb21"></div></div>
          <div class="thumb_container col-xs-3"><a href="iceland.html#22"><div class = "thumb_pic" id="thumb22"></div></div>
          <div class="thumb_container col-xs-3"><a href="iceland.html#23"><div class = "thumb_pic" id="thumb23"></div></div>

        </div>




  </div>

  </body>

</html>
