<!DOCTYPE html>
<html>

  <head>
    <title>Annelisa Leinbach</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <link href="../../css/bootstrap.min.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../../css/home.css"rel="stylesheet" media="screen">
    <link href="../../css/slideshow.css"rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="../../favicon.ico"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
    </script>
    <script src="../../js/slideshow.js"></script>

    <meta name="page" content="iceland">

  <body>

  <div class="menu">
      <a href="../../index.html">
          <img class="signature"src="../../images/signature.png">
      </a>
      <ul class="menu_items">
        <li><a href="../about.html">ABOUT</a></li>
        <li><a href="../artwork.html">ARTWORK</a></li>
        <li><a href="../contact.html">CONTACT</a></li>
        <li ><a href="iceland_thumbnail.html">BACK</a></li>
      </ul>
  </div>

  <div class="container">
    <!--       navigator bars  -->
    <a id="back"><img class="arrow-left"src="../../images/arrow2.png" ></a>
    <a id="next"><img class="arrow-right"src="../../images/arrow1.png"> </a> 

    <!--     slideshow container -->
    <a id="1" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/iceland/1.jpeg">
      <p class="art_description">Blue Lagoon<br>2014, Canon EOS Rebel XS</p>
    </a>

    <a id="2" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/iceland/2.jpeg"> 
      <p class="art_description">Jökulsárlón<br>2014, Canon EOS Rebel XS</p>
    </a>

    <a id="3" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/iceland/3.jpeg"> 
      <p class="art_description">Coins thrown in Þingvellir<br>2014, Canon EOS Rebel XS</p>
    </a>
    
    <a id="4" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/iceland/4.jpeg"> 
      <p class="art_description">Jökulsárlón<br>2014, Canon EOS Rebel XS</p>
    </a>

    <a id="5" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/iceland/5.jpeg"> 
      <p class="art_description">Jökulsárlón<br>2014, Canon EOS Rebel XS</p>
    </a>
    <a id="6" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/iceland/6.jpeg" style="height:70%;width:70%"> 
      <p class="art_description">Blue Lagoon<br>2014, Canon EOS Rebel XS</p>
    </a>
    <a id="7" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/iceland/7.jpeg"> 
      <p class="art_description">Jökulsárlón<br>2014, Canon EOS Rebel XS</p>
    </a>
    <a id="8" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/iceland/8.jpeg"> 
      <p class="art_description">Jökulsárlón<br>2014, Canon EOS Rebel XS</p>    
    </a>
    <a id="9" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/iceland/9.jpeg"> 
      <p class="art_description">Driving though Iceland after a fresh snow<br>2014, Canon EOS Rebel XS</p> 
    </a>
    <a id="10" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/iceland/10.jpeg">
      <p class="art_description">Þingvellir<br>2014, Canon EOS Rebel XS</p> 
    </a>
    <a id="11" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/iceland/11.jpeg"> 
      <p class="art_description">Approaching storm<br>2014, Canon EOS Rebel XS</p> 
    </a>
    <a id="12" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/iceland/12.jpeg"> 
      <p class="art_description">2014, Canon EOS Rebel XS</p> 
    </a>
    <a id="13" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/iceland/13.jpeg"> 
      <p class="art_description">2014, Canon EOS Rebel XS</p> 
    </a>
    <a id="14" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/iceland/14.jpeg"> 
      <p class="art_description">Gullfoss<br>2014, Canon EOS Rebel XS</p> 
    </a>  
    <a id="15" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/iceland/15.jpeg"> 
      <p class="art_description">Jökulsárlón<br>2014, Canon EOS Rebel XS</p> 
    </a>  
    <a id="16" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/iceland/16.jpeg"> 
      <p class="art_description">Jökulsárlón<br>2014, Canon EOS Rebel XS</p> 
    </a>  
    <a id="17" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/iceland/17.jpeg"> 
      <p class="art_description">Jökulsárlón<br>2014, Canon EOS Rebel XS</p> 
    </a>  
    <a id="18" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/iceland/18.jpeg"> 
      <p class="art_description">Jökulsárlón<br>2014, Canon EOS Rebel XS</p> 
    </a>  
    <a id="19" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/iceland/19.jpeg"> 
      <p class="art_description">2014, Canon EOS Rebel XS</p> 
    </a>  
    <a id="20" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/iceland/20.jpeg"> 
      <p class="art_description">Reykjavík<br>2013, Canon EOS Rebel XS</p> 
    </a>  
    <a id="21" class= "slide">

      <img class ="al_slideshow" src="../../images/photography/iceland/21.jpeg"> 
      <p class="art_description">Reykjavík Jazz Festival<br>2013, Canon EOS Rebel XS</p> 
    </a>  
    <a id="22" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/iceland/22.jpeg"> 
      <p class="art_description">Icelandic horse<br>2013, Canon EOS Rebel XS</p> 
    </a>  
    <a id="23" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/iceland/23.jpeg"> 

      <p class="art_description">Skogafoss<br>2013, Canon EOS Rebel XS</p> 
    </a>  

</div>

  </body>

</html>
