<!DOCTYPE html>
<html>

  <head>
    <title>Annelisa Leinbach</title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <link href="../../css/bootstrap.min.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../../css/home.css"rel="stylesheet" media="screen">
    <link href="../../css/slideshow.css"rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="../../favicon.ico"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
    </script>
    <script src="../../js/slideshow.js"></script>
    <meta name="page" content="israel">
  </head>

  <body>

  <div class="menu">
      <a href="../../index.html">
          <img class="signature"src="../../images/signature.png">
      </a>
      <ul class="menu_items">
        <li><a href="../about.html">ABOUT</a></li>
        <li><a href="../artwork.html">ARTWORK</a></li>
        <li><a href="../contact.html">CONTACT</a></li>
        <li ><a href="israel_thumbnail.html">BACK</a></li>
      </ul>
  </div>

<!--       navigator bars  -->
<a id="back"><img class="arrow-left"src="../../images/arrow2.png" ></a>
 <a id="next"><img class="arrow-right"  src="../../images/arrow1.png"> </a> 


  

<!--     slideshow container -->
   <a id="1" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/israel/1.jpeg">
      <p class="art_description">Bahá'í Gardens, Haifa, Israel<br>2014, Canon EOS Rebel XS</p>
    </a>

    <a id="2" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/israel/2.jpeg"> 
      <p class="art_description">Bahá'í Gardens, Haifa, Israel<br>2014, Canon EOS Rebel XS</p>
    </a>

    <a id="3" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/israel/3.jpeg"> 
      <p class="art_description">Tel Aviv, Israel<br>2014, Canon EOS Rebel XS</p>
    </a>
    
    <a id="4" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/israel/4.jpeg"> 
      <p class="art_description">Yafo, Israel<br>2014, Canon EOS Rebel XS</p>
    </a>

    <a id="5" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/israel/5.jpeg"> 
      <p class="art_description">Yafo, Israel<br>2014, Canon EOS Rebel XS</p>
    </a>
    <a id="6" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/israel/6.jpeg"> 
      <p class="art_description">Haifa, Israel<br>2014, Canon EOS Rebel XS</p>
    </a>
    <a id="7" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/israel/7.jpeg"> 
      <p class="art_description">Peaceful demonstration in memory of three teenage boys murdered in the West Bank, Jerusalem, Israel<br>2014, Canon EOS Rebel XS</p>
    </a>
    <a id="8" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/israel/8.jpeg"> 
      <p class="art_description">Jerusalem, Israel<br>2014, Canon EOS Rebel XS</p>    
    </a>
    <a id="9" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/israel/9.jpeg"> 
      <p class="art_description">Peaceful demonstration in memory of three teenage boys murdered in the West Bank, Jerusalem, Israel<br>2014, Canon EOS Rebel XS</p> 
    </a>
    <a id="10" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/israel/10.jpeg">
      <p class="art_description">West Bank<br>2014, Canon EOS Rebel XS</p> 
    </a>
    <a id="11" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/israel/11.jpeg"> 
      <p class="art_description">Jerusalem, Israel<br>2014, Canon EOS Rebel XS</p> 
    </a>
    <a id="12" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/israel/12.jpeg"> 
      <p class="art_description">Qalandia checkpoint, Jerusalem, Israel<br>2014, Canon EOS Rebel XS</p> 
    </a>
    <a id="13" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/israel/13.jpeg"> 
      <p class="art_description">Qalandia checkpoint, Jerusalem, Israel<br>2014, Canon EOS Rebel XS</p> 
    </a>
    <a id="14" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/israel/14.jpeg"> 
      <p class="art_description">Qalandia checkpoint, Jerusalem, Israel<br>2014, Canon EOS Rebel XS</p> 
    </a>  
    <a id="15" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/israel/15.jpeg"> 
      <p class="art_description">Man looking through the fence from the Palestinian side of the Qalandia checkpoint, Jerusalem, Israel<br>2014, Canon EOS Rebel XS</p> 
    </a>  
    <a id="16" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/israel/16.jpeg"> 
      <p class="art_description">Palestinians waiting for approval to pass through Qalandia checkpoint, Jerusalem, Israel<br>2014, Canon EOS Rebel XS</p> 
    </a>  
    <a id="17" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/israel/17.jpeg"> 
      <p class="art_description">IDF soldier, Qalandia checkpoint, Jerusalem, Israel<br>2014, Canon EOS Rebel XS</p> 
    </a>  
    <a id="18" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/israel/18.jpeg"> 
      <p class="art_description">Jerusalem, Israel<br>2014, Canon EOS Rebel XS</p> 
    </a>  
    <a id="19" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/israel/19.jpeg"> 
      <p class="art_description">Jerusalem, Israel<br>2014, Canon EOS Rebel XS</p> 
    </a>  
    <a id="20" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/israel/20.jpeg"> 
      <p class="art_description">Jerusalem, Israel<br>2014, Canon EOS Rebel XS</p> 
    </a>  
    <a id="21" class= "slide">

      <img class ="al_slideshow" src="../../images/photography/israel/21.jpeg"> 
      <p class="art_description">Jerusalem, Israel<br>2014, Canon EOS Rebel XS</p> 
    </a>  
    <a id="22" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/israel/22.jpeg"> 
      <p class="art_description">Jerusalem, Israel<br>2014, Canon EOS Rebel XS</p> 
    </a>  
    <a id="23" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/israel/23.jpeg"> 
      <p class="art_description">Jerusalem, Israel<br>2014, Canon EOS Rebel XS</p> 
    </a>  
    <a id="24" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/israel/24.jpeg"> 
      <p class="art_description">Women protesting for access to pray on the Temple Mount, Jerusalem, Israel<br>2014, Canon EOS Rebel XS</p> 
    </a>  
    <a id="25" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/israel/25.jpeg"> 
      <p class="art_description">Amman, Jordan<br>2014, Canon EOS Rebel XS</p> 
    </a>  
    <a id="26" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/israel/26.jpeg"> 
      <p class="art_description">Petra, Jordan<br>2014, Canon EOS Rebel XS</p> 
    </a>  
    <a id="27" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/israel/27.jpeg"> 
      <p class="art_description">Petra, Jordan<br>2014, Canon EOS Rebel XS</p> 
    </a>  
    <a id="28" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/israel/28.jpeg"> 
      <p class="art_description">Petra, Jordan<br>2014, Canon EOS Rebel XS</p> 
    </a>  
    <a id="29" class= "slide">
      <img class ="al_slideshow" src="../../images/photography/israel/29.jpeg"> 
      <p class="art_description">Amman, Jordan<br>2014, Canon EOS Rebel XS</p> 
    </a>  


  </body>

</html>
