<!DOCTYPE html>
<html>

  <head>
    <title>Annelisa Leinbach</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../../css/home.css"rel="stylesheet" media="screen">
    <link href="../../css/categories.css"rel="stylesheet" media="screen">
    <link rel="icon" href="../../favicon.ico">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>   


  </head>

  <body >

    <div class="menu">
      <a href="../../index.html">
          <img class="signature"src="../../images/signature.png">
      </a>
      <ul class="menu_items">
        <li><a href="../about.html">ABOUT</a></li>
        <li><a href="../artwork.html">ARTWORK</a></li>
        <li><a href="../contact.html">CONTACT</a></li>
        <li ><a href="../artwork.html">BACK</a></li>
      </ul>
    </div>
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-offset-2 col-sm-4 blocks">
              <p id="iceland-text" class="work-text">ICELAND</p>
              <a href="iceland_thumbnail.html">
              <div  id="iceland-pic" class="category">
              </div>
              </a>
            </div>

            <div class="col-sm-4 blocks">     
              <p id="israel-text" class="work-text">MIDDLE EAST</p>
              <a href="israel_thumbnail.html">
              <div id="israel-pic" class="category">
              </div>
              </a>
            </div>
            

        </div>

        <div id="mobile-padding-3"></div> 


        <div class="row">
            <div class="col-sm-offset-2 col-sm-4 blocks">
               <p id="art-text" class="work-text">ART PHOTOS</p>
                <a href="artphotos_thumbnail.html">
                <div id="art-pic" class="category">
                </div>
              </a>

            </div>
           <div class="col-sm-4 blocks">
             <p id="south-text" class="work-text">SOUTHWEST</p>
                <a href="southwest_thumbnail.html">
                <div id="south-pic" class="category">
                </div>
              </a>      
            </div>
         </div>

         <div style="height:20px"></div>
    </div>

  </body>

</html>